@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="text-align:center">
    <h1 class="text-danger">Hệ thống đang quá tải vui lòng tắt đi khởi động lại</h1>
    <h2 class="text-danger">Rất xin lỗi vì sự bất tiện này</h2>
</div>


