@{
    Layout = null; // Không sử dụng layout cho trang này
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="3;url=/Deals/Index?area=Seller" /> <!-- Tự động chuyển hướng sau 3 giây -->
    <title>Success</title>
</head>
<body>
    @Html.Partial("~/Views/Shared/ToastsNoti.cshtml") <!-- Hiển thị toast messenger -->
</body>
</html>

