@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="text-align:center">
    <h1 class="text-danger">Cảnh báo lỗi</h1>
    <h2 class="text-danger">Bạn không được bỏ trống các trường thông tin!</h2>
</div>

