@model IEnumerable<Affiliate_Shopee.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}
<!-- Tham chiếu đến thư viện jQuery -->
<p>
    <a asp-action="Create">Create New</a>
</p>