@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<link href="~/css/bank_create.css" rel="stylesheet">

<div id="border">
    <div class="row">
        <div class="col-md-12" style="margin-left:35px">
            <image id="logosmo" src="/image/Asset 8.png"/>
            <hr/>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Đặt lại mật khẩu</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
